@model Exam

@{
    ViewData["Title"] = "Edit Exam";
    Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
    ViewData["activeLink"] = "exams";
    int counter = 1;
}


<div class="content d-flex flex-column flex-column-fluid" id="kt_content" style="background:#FFF;">

<div id="kt_content_container" class="container-xxl">

<form asp-action="Edit" asp-controller="Exam" method="POST">

    @Html.AntiForgeryToken()
<div class="d-flex flex-column mb-7 fv-row mt-4">
    <label class="fs-6 fw-bold mb-2">Exam Title</label>

    <input type="text" class="form-control form-control-solid mt-3" required placeholder="Exam Title" asp-for="Name">

</div>

<div class="form-group row mt-5">
    <div class="d-flex flex-column mb-7 fv-row mt-4">
        <!--begin::Label-->
        <div class="question-group">

        @foreach(var question in Model.ExamQuestions)
        {
            int optionCounter = 1;
            <div class="question-parent mb-4 pb-5">
            <label class="fs-6 fw-bold mb-2">Question @counter</label>
            <input type="text" class="form-control form-control-solid mt-3" placeholder="Enter Question @counter Title" required name="Titles@(counter)" value="@question.Title">
            @foreach (var option in question.Options)
            {
                
                <div id="question-inputs">
                    <div class="d-flex align-items-center mb-3">
                        <input class="form-check-input me-2" type="radio" value="@(optionCounter)" name="Checks@(counter)" required @(option.IsRight ? "checked" : "") />
                        <input type="text" class="form-control form-control-solid mt-3" placeholder="Option Title" name="Options@(counter)1" required value="@option.Title">
                    </div>
                </div>
                optionCounter++;
            }
                
            </div>
        
            counter++;

        }
       
        </div>
      
    </div>


<!--begin::Actions-->
<div class="text-center pt-15">
                    
    <button type="submit" id="kt_modal_new_card_submit" class="btn btn-primary">
        <span class="indicator-label">Save Changes</span>
        <span class="indicator-progress">Please wait...
        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
    </button>
</div>

</form>

</div>
</div>